# Local development only. Never commit real secrets.
DATABASE_URL=postgresql://neondb_owner:npg_b0UIqRzMExa7@ep-sweet-dawn-azyw40w0-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=m0kWN6duI3I51QEAxr4lKvePCpnqvGVg6QcYwDd1V1w
API_KEY=xvDM9aaPwRM9Mo3iK1wBCrkjg2x6Y+OU8eF7RiV6SFw=
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_bC6aKMrEwfGgt2jd_D01GhOFKIFPNpNfiu6WA0Z6aiDEnFI"
CORS_ORIGINS=http://localhost:8080,http://localhost:5173
AUTO_INIT_DB=true